.table thead th, .table thead td{
    text-transform: none;
}


/*forget password page css*/
.auth-input {
    background: #eef3ff;
    border: 1px solid transparent;
    transition: .2s;
}

.auth-input:focus {
    background: #e6ecff;
    border-color: #0d6efd;
    box-shadow: 0 0 0 .2rem rgba(13,110,253,.25);
}
.password-toggle-icon {
    position: absolute;
    right: 20px;
    top: 35%;
    transform: translateY(-35%);
    cursor: pointer;
    z-index: 5;
}
#password.is-invalid {
    background-image: none !important; /* remove bootstrap red icon */
}
/*forget password page css*/
